@font-face {
    font-family: 'MediumText';
    src: url('fonts/Khyay-Regular.ttf') format('truetype');
}
:root {
    --left-margin-element: 25px;
    --progress-bar-pos-y: 90px;
}

body {
    background-color: #1C1C1C;
    margin: 0;
    font-family: "MediumText";
}

header{
    display: flex;
    justify-content: center;
}

h1 {
    color: #DB202C;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
    user-select: none;
}

.header-div {
    text-align: center;
    background-color: #131313;
    width: 100%;
}

.downloads-text {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    gap: 2px;
}

h2 {
    color: white;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 15px;
}
.red-underline {
    background-color: red;
    height: 2px;
    width: 143px;
}

section {
    margin-top: 30px;
}

.single-download-div {
    display: flex;
    justify-content: start;
    position: relative;
}

.bg-download-img {
    width: 100%;
    object-fit: cover;
    height: 130px;
    opacity: 50%;
    user-select: none;
    pointer-events: none;
}

h3 {
    position: absolute;
    color: white;
    font-size: 22px;
    z-index: 4;
    margin-left: var(--left-margin-element);
    margin-top: 25px;
    user-select: none;
}

.download-infos {
    position: absolute;
    color: #C9C9C9;
    margin-top: 57px;
    margin-left: var(--left-margin-element);
    font-size: 14px;
    user-select: none;
}

.progress-bar {
    position: absolute;
    width: 85%;
    height: 5px;
    background-color: #717171;
    margin-left: var(--left-margin-element);
    margin-top: var(--progress-bar-pos-y);
    border-radius: 10px;
}
.done {
    background-color: white;
    width: 0%;
}

.bottom-div {
    position: fixed;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: #262626;
    height: 75px;
    gap: 150px;
    z-index: 4;
}

.bottom-btn {
    background-color: #262626;
    border: none;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

  